[submodule "mjcf-parser"]
	path = mjcf-parser
	url = ssh://git@cardinaltetra.coral.cs.cmu.edu:2222/dschwab/mjcf-parser.git
	branch = model-explorer
[submodule "nphysics_testbed3d"]
	path = nphysics_testbed3d
	url = ssh://git@cardinaltetra.coral.cs.cmu.edu:2222/dschwab/nphysics_testbed3d.git
