[submodule "mjcf-parser"]
	path = mjcf-parser
	url = "../mjcf-parser.git"	
	branch = model-explorer
[submodule "nphysics_testbed3d"]
	path = nphysics_testbed3d
	url = "../nphysics_testbed3d.git"
[submodule "nphysics_user_data_traits"]
	path = nphysics_user_data_traits
	url = "../nphysics_user_data_traits.git"
