[submodule "mjcf-parser"]
	path = mjcf-parser
	url = git@github.com:rhololkeolke/mjcf-parser.git
	branch = model-explorer
[submodule "nphysics_testbed3d"]
	path = nphysics_testbed3d
	url = git@github.com:rhololkeolke/nphysics_testbed3d.git
	branch = master
[submodule "nphysics_user_data"]
	path = nphysics_user_data
	url = git@github.com:rhololkeolke/nphysics_user_data.git
	branch = master